<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
<div class="container">
  <img src="" th:src="@{image/defal.jpg}" alt="" />
  <h1>Adding CSS,javascript and image in Thymeleaf</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quisquam!
    Mollitia molestiae laudantium, consequatur unde dolorum eius excepturi
    facere sint nemo, animi harum doloribus quasi magnam cum officiis iste
    reiciendis labore nam voluptas sit non ad? Maiores cupiditate impedit
    accusamus aut quo consequatur. Dolorem harum nesciunt obcaecati autem culpa
    at.
  </p>
  <script src="" class="profile" th:src="@{js/myjs.js}"></script>
</div>
